@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

html {
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    text-align: center;
    background: rgb(4,0,80);
    background: linear-gradient(16deg, rgba(4,0,80,1) 0%, rgba(9,9,121,1) 23%, rgba(0,127,255,1) 100%); 
    background-attachment:fixed;
}

.mainBody{
    display: block;
    padding: 30px 30px 30px 30px;
    text-align: center;
    min-width: 678px;
    
}

.hero {
    font-family: "Playfair Display", sans-serif;
    color: rgb(48,48,48);
    padding: 50px 50px 50px 50px;
    background-color: rgb(255,197,74);

    /* max-width: 75%; */
    max-width: 1440px;

    margin: 0 auto;


    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.hero img {
    height: 450px;
    padding: 0px 5% 30px 0px;
}

.heroContent{
    flex: 10;
}

.heroContent h1{
    font-size: 50px;
    padding-bottom: 30px;
}


.button {
    padding: 10px 20px;

    border: none;
    border-radius: 50px;

    font-family: "Playfair Display";
    font-size: 25px;
    font-weight: bold;
    color: rgb(0,24,62);
    text-decoration: none;

    transition: all 0.3s ease 0s;
}
.redBg {
    background: rgb(207, 35, 35);
}
.button:hover {
    color:rgb(255,197,74);
    cursor: pointer;
    
}

.subHeader{
    padding:50px 50px 25px 50px;
    font-family: "Merriweather"; 
    font-size: 35px;
    color: white;
}